@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #212121;
  font-family: "montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.header__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 60px);
          flex: 0 0 calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body {
  position: relative;
  padding-bottom: 18px;
}

.header__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #061321;
  opacity: 0.9;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.2558558559%;
          flex: 0 0 24.2558558559%;
  padding-bottom: 6.667%;
}

.header__adress {
  padding-left: 11.5%;
}

.header__mesto {
  padding-left: 26px;
  background: url("../img/header/mesto.svg") left no-repeat;
  color: white;
  font-weight: 600;
  margin-bottom: 0.5625rem;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@supports (font-size: clamp( 0.625rem , 0.525rem  +  0.5vw , 1.125rem )) {
  .header__mesto {
    font-size: clamp( 0.625rem , 0.525rem  +  0.5vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.525rem  +  0.5vw , 1.125rem )) {
  .header__mesto {
    font-size: calc(0.625rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.header__mesto:hover {
  color: #00A3FF;
}

.header__subtitle {
  color: #69778A;
  line-height: 1.3;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@supports (font-size: clamp( 0.875rem , 0.7083333333rem  +  0.3472222222vw , 1.125rem )) {
  .header__subtitle {
    font-size: clamp( 0.875rem , 0.7083333333rem  +  0.3472222222vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7083333333rem  +  0.3472222222vw , 1.125rem )) {
  .header__subtitle {
    font-size: calc(0.875rem + 0.25 * (100vw - 48rem) / 72);
  }
}

.header__phone {
  padding-left: 27px;
  background: url("../img/header/phone.svg") left no-repeat;
  color: white;
  line-height: 1.3;
  margin-bottom: 0.5625rem;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 600;
}

.header__phone:hover {
  color: #00A3FF;
}

.header__menu {
  background: #07192D;
  opacity: 0.9;
}

.header__button {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  border-right: 1px solid #69778A;
}

.menu__item:first-child {
  border-left: 1px solid #69778A;
}

.menu__link {
  line-height: 1.3;
  color: white;
  padding: 14px 50px;
  display: inline-block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (font-size: clamp( 0.875rem , 0.825rem  +  0.25vw , 1.125rem )) {
  .menu__link {
    font-size: clamp( 0.875rem , 0.825rem  +  0.25vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.825rem  +  0.25vw , 1.125rem )) {
  .menu__link {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 100);
  }
}

.menu__link:hover {
  color: #00A3FF;
}

.icon-menu {
  display: none;
}

.no-webp .footer{
  background: url("../img/footer/Rectangle 725.jpg") 0 0 no-repeat; }

.footer {
  background-size: cover;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__midle {
  position: relative;
}

@supports (margin-top: clamp( 1.6875rem , 1.1375rem  +  2.75vw , 4.4375rem )) {
  .footer__midle {
    margin-top: clamp( 1.6875rem , 1.1375rem  +  2.75vw , 4.4375rem );
  }
}

@supports not (margin-top: clamp( 1.6875rem , 1.1375rem  +  2.75vw , 4.4375rem )) {
  .footer__midle {
    margin-top: calc(1.6875rem + 2.75 * (100vw - 20rem) / 100);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6125rem  +  1.3125vw , 3.1875rem )) {
  .footer__midle {
    margin-bottom: clamp( 1.875rem , 1.6125rem  +  1.3125vw , 3.1875rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6125rem  +  1.3125vw , 3.1875rem )) {
  .footer__midle {
    margin-bottom: calc(1.875rem + 1.3125 * (100vw - 20rem) / 100);
  }
}

.footer__bottom {
  background: #000000;
  opacity: 0.8;
}

.top-footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.2342342342%;
          flex: 0 0 24.2342342342%;
  padding-bottom: 6.6666666667%;
}

.top-footer__fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer__fb span {
  padding-right: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.top-footer__fb a svg rect,
.top-footer__fb a svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.top-footer__fb a:hover svg rect {
  fill: #000000;
}

.top-footer__fb a:hover svg path {
  fill: #fff;
}

.top-footer__img {
  border: 1px solid transparent;
}

.top-footer__img:hover {
  border: 1px solid rgba(255, 255, 255, 0.795);
}

.midle-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.midle-footer__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29.4594594595%;
          flex: 0 0 29.4594594595%;
}

.midle-footer__item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.6126126126%;
          flex: 0 0 32.6126126126%;
}

.midle-footer__title {
  font-weight: 600;
  line-height: 1;
  color: white;
}

@supports (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
  .midle-footer__title {
    font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
  .midle-footer__title {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 51.25);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem )) {
  .midle-footer__title {
    margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem )) {
  .midle-footer__title {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 100);
  }
}

.midle-footer__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 185%;
  color: white;
}

.midle-footer__text_gp {
  padding-right: 10px;
}

.midle-footer__text_link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.midle-footer__text_link:hover {
  color: #00A3FF;
}

.midle-footer__link {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration-line: underline !important;
}

@supports (margin-top: clamp( 0.625rem , 0.0416666667rem  +  1.2152777778vw , 1.5rem )) {
  .midle-footer__link {
    margin-top: clamp( 0.625rem , 0.0416666667rem  +  1.2152777778vw , 1.5rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , 0.0416666667rem  +  1.2152777778vw , 1.5rem )) {
  .midle-footer__link {
    margin-top: calc(0.625rem + 0.875 * (100vw - 48rem) / 72);
  }
}

.midle-footer__link:hover {
  color: #00A3FF;
}

.midle-footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
}

.midle-footer__clock {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.85;
  color: white;
}

.midle-footer__clock span {
  color: #00A3FF;
}

.midle-footer__wave {
  position: absolute;
  bottom: -35px;
}

@supports (right: clamp( -4.375rem , 8.125rem  +  -10.4166666667vw , 3.125rem )) {
  .midle-footer__wave {
    right: clamp( -4.375rem , 8.125rem  +  -10.4166666667vw , 3.125rem );
  }
}

@supports not (right: clamp( -4.375rem , 8.125rem  +  -10.4166666667vw , 3.125rem )) {
  .midle-footer__wave {
    right: calc(3.125rem + -7.5 * (100vw - 48rem) / 72);
  }
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 29px;
}

.bottom-footer__link {
  font-weight: 300;
  line-height: 1.5;
  color: white;
  text-decoration: underline !important;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@supports (font-size: clamp( 0.625rem , 0.5274390244rem  +  0.487804878vw , 0.875rem )) {
  .bottom-footer__link {
    font-size: clamp( 0.625rem , 0.5274390244rem  +  0.487804878vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5274390244rem  +  0.487804878vw , 0.875rem )) {
  .bottom-footer__link {
    font-size: calc(0.625rem + 0.25 * (100vw - 20rem) / 51.25);
  }
}

.bottom-footer__link:hover {
  color: #00A3FF;
}

.bottom-footer__copright {
  font-weight: 300;
  line-height: 1.5;
  color: white;
}

@supports (font-size: clamp( 0.75rem , 0.7012195122rem  +  0.243902439vw , 0.875rem )) {
  .bottom-footer__copright {
    font-size: clamp( 0.75rem , 0.7012195122rem  +  0.243902439vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7012195122rem  +  0.243902439vw , 0.875rem )) {
  .bottom-footer__copright {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 51.25);
  }
}

.bottom-footer__ontop {
  color: #00A3FF;
  font-weight: 300;
  line-height: 1.3125;
}

@supports (font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem )) {
  .bottom-footer__ontop {
    font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem )) {
  .bottom-footer__ontop {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 51.25);
  }
}

.main__body-top {
  position: relative;
}

.main__body-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -100px;
}

.body-top__chord-adaptiv {
  display: none;
}

.body-top__fb {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (top: clamp( 11.25rem , 0.0004882728rem  +  23.437093106vw , 28.125rem )) {
  .body-top__fb {
    top: clamp( 11.25rem , 0.0004882728rem  +  23.437093106vw , 28.125rem );
  }
}

@supports not (top: clamp( 11.25rem , 0.0004882728rem  +  23.437093106vw , 28.125rem )) {
  .body-top__fb {
    top: calc(11.25rem + 16.875 * (100vw - 47.99875rem) / 72.00125);
  }
}

@supports (left: clamp( 2.5rem , -1.4581615337rem  +  8.2463846114vw , 8.4375rem )) {
  .body-top__fb {
    left: clamp( 2.5rem , -1.4581615337rem  +  8.2463846114vw , 8.4375rem );
  }
}

@supports not (left: clamp( 2.5rem , -1.4581615337rem  +  8.2463846114vw , 8.4375rem )) {
  .body-top__fb {
    left: calc(2.5rem + 5.9375 * (100vw - 47.99875rem) / 72.00125);
  }
}

.body-top__fb-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-top__fb-wrapper::before,
.body-top__fb-wrapper::after {
  content: "";
  position: absolute;
  width: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgb(255, 255, 255);
}

@supports (height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem )) {
  .body-top__fb-wrapper::before,
  .body-top__fb-wrapper::after {
    height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem );
  }
}

@supports not (height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem )) {
  .body-top__fb-wrapper::before,
  .body-top__fb-wrapper::after {
    height: calc(6.0625rem + 5.375 * (100vw - 47.99875rem) / 72.00125);
  }
}

.body-top__fb-wrapper::before {
  bottom: 48px;
}

.body-top__fb-wrapper::after {
  top: 48px;
}

.body-top__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-top__dotts::before {
  content: "";
  position: absolute;
  width: 1px;
  background: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -108%);
      -ms-transform: translate(-50%, -108%);
          transform: translate(-50%, -108%);
}

@supports (height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem )) {
  .body-top__dotts::before {
    height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem );
  }
}

@supports not (height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem )) {
  .body-top__dotts::before {
    height: calc(6.0625rem + 5.375 * (100vw - 47.99875rem) / 72.00125);
  }
}

.body-top__dotts::after {
  content: "";
  position: absolute;
  width: 1px;
  background: #fff;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@supports (height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem )) {
  .body-top__dotts::after {
    height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem );
  }
}

@supports not (height: clamp( 6.0625rem , 2.4793221906rem  +  7.4651481745vw , 11.4375rem )) {
  .body-top__dotts::after {
    height: calc(6.0625rem + 5.375 * (100vw - 47.99875rem) / 72.00125);
  }
}

.body-top__dotts .swiper-pagination-bullet {
  position: relative;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  border: 1px solid white;
  background: transparent;
}

.body-top__dotts .swiper-pagination-bullet:not(:last-child) {
  margin-bottom: 10px;
}

.body-top__dotts .swiper-pagination-bullet-active {
  position: relative;
}

.body-top__dotts .swiper-pagination-bullet-active::after {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: white;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.body-top__dotts-line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@supports (right: clamp( 1.25rem , -3.9997721394rem  +  10.9373101161vw , 9.125rem )) {
  .body-top__dotts-line {
    right: clamp( 1.25rem , -3.9997721394rem  +  10.9373101161vw , 9.125rem );
  }
}

@supports not (right: clamp( 1.25rem , -3.9997721394rem  +  10.9373101161vw , 9.125rem )) {
  .body-top__dotts-line {
    right: calc(1.25rem + 7.875 * (100vw - 47.99875rem) / 72.00125);
  }
}

.body-top__dotts-line::after {
  content: "";
}

.body-top__slide {
  padding-bottom: 52.0833333333%;
  position: relative;
}

.body-top__text {
  position: absolute;
  display: inline-block;
  padding-right: 200px;
  color: white;
  top: 31.9%;
}

@supports (left: clamp( 0.9375rem , -3.9375rem  +  24.375vw , 25.3125rem )) {
  .body-top__text {
    left: clamp( 0.9375rem , -3.9375rem  +  24.375vw , 25.3125rem );
  }
}

@supports not (left: clamp( 0.9375rem , -3.9375rem  +  24.375vw , 25.3125rem )) {
  .body-top__text {
    left: calc(0.9375rem + 24.375 * (100vw - 20rem) / 100);
  }
}

.body-top__title {
  font-weight: 800;
  line-height: 1.14;
  margin-bottom: 20px;
}

@supports (font-size: clamp( 1.4375rem , 0.725rem  +  3.5625vw , 5rem )) {
  .body-top__title {
    font-size: clamp( 1.4375rem , 0.725rem  +  3.5625vw , 5rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 0.725rem  +  3.5625vw , 5rem )) {
  .body-top__title {
    font-size: calc(1.4375rem + 3.5625 * (100vw - 20rem) / 100);
  }
}

.body-top__subtitle {
  line-height: 1.14;
}

@supports (font-size: clamp( 1.0625rem , 0.725rem  +  1.6875vw , 2.75rem )) {
  .body-top__subtitle {
    font-size: clamp( 1.0625rem , 0.725rem  +  1.6875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.0625rem , 0.725rem  +  1.6875vw , 2.75rem )) {
  .body-top__subtitle {
    font-size: calc(1.0625rem + 1.6875 * (100vw - 20rem) / 100);
  }
}

.body-bottom__cont {
  width: 1200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-bottom__slider {
  position: relative;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-bottom__slide {
  width: 31.8181818182%;
  padding-bottom: 23.6363636364%;
}

.body-bottom__detail {
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 47px;
     -moz-column-gap: 47px;
          column-gap: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 30px;
  border-radius: 0px 22.5px 0px 0px;
}

.body-bottom__detail span {
  font-weight: 600;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.75rem , 0.7012195122rem  +  0.243902439vw , 0.875rem )) {
  .body-bottom__detail span {
    font-size: clamp( 0.75rem , 0.7012195122rem  +  0.243902439vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7012195122rem  +  0.243902439vw , 0.875rem )) {
  .body-bottom__detail span {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 51.25);
  }
}

.body-bottom__detail-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.12px;
          flex: 0 0 16.12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-bottom__detail-img img {
  position: static;
}

.body-bottom__controls {
  position: absolute;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (16px)[2];
  grid-template-columns: repeat(2, 16px);
  top: 50%;
  width: 100%;
  left: 0%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.body-bottom__arrow_left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.no-webp .page__about{
  background: url("../img/main/bg-abaut.jpg") 0 0 no-repeat; }

.page__about {
  background-size: cover;
  margin-top: -160px;
}

@supports (padding-top: clamp( 5rem , 2.7777777778rem  +  11.1111111111vw , 11.25rem )) {
  .about__container {
    padding-top: clamp( 5rem , 2.7777777778rem  +  11.1111111111vw , 11.25rem );
  }
}

@supports not (padding-top: clamp( 5rem , 2.7777777778rem  +  11.1111111111vw , 11.25rem )) {
  .about__container {
    padding-top: calc(5rem + 6.25 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.375rem  +  3.75vw , 6.875rem )) {
  .about__container {
    padding-bottom: clamp( 3.125rem , 2.375rem  +  3.75vw , 6.875rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.375rem  +  3.75vw , 6.875rem )) {
  .about__container {
    padding-bottom: calc(3.125rem + 3.75 * (100vw - 20rem) / 100);
  }
}

.about__text {
  font-weight: 300;
  line-height: 1.5;
  color: white;
  max-width: 812px;
  text-align: center;
  margin: 0 auto;
}

@supports (font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem )) {
  .about__text {
    font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem )) {
  .about__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 51.25);
  }
}

.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-top: clamp( 1.875rem , 1.2625rem  +  3.0625vw , 4.9375rem )) {
  .about__bottom {
    margin-top: clamp( 1.875rem , 1.2625rem  +  3.0625vw , 4.9375rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.2625rem  +  3.0625vw , 4.9375rem )) {
  .about__bottom {
    margin-top: calc(1.875rem + 3.0625 * (100vw - 20rem) / 100);
  }
}

.about__subtext {
  font-weight: 500;
  color: #00A3FF;
  line-height: 1.5;
  text-align: center;
}

@supports (font-size: clamp( 0.875rem , 0.7286585366rem  +  0.7317073171vw , 1.25rem )) {
  .about__subtext {
    font-size: clamp( 0.875rem , 0.7286585366rem  +  0.7317073171vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7286585366rem  +  0.7317073171vw , 1.25rem )) {
  .about__subtext {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 51.25);
  }
}

.about__title {
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

@supports (font-size: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
  .about__title {
    font-size: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
  .about__title {
    font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 51.25);
  }
}

.about__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.about__circle {
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.about__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.items-about__link {
  padding: 40px 65px;
  display: block;
  background: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  opacity: 1;
}

.no-webp .items-about__link:hover{
  background: url("../img/main/bg-abitem.png") 0 0 no-repeat; }

.items-about__link:hover {
  background-size: cover;
  opacity: 0.8;
}

.items-about__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.items-about__text {
  font-size: 13px;
  line-height: 1.5;
}

/*==============PLAN===========*/

@supports (padding-top: clamp( 3.125rem , 2.5rem  +  3.125vw , 6.25rem )) {
  .plan__container {
    padding-top: clamp( 3.125rem , 2.5rem  +  3.125vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.5rem  +  3.125vw , 6.25rem )) {
  .plan__container {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 100);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.5rem  +  3.125vw , 6.25rem )) {
  .plan__container {
    padding-bottom: clamp( 3.125rem , 2.5rem  +  3.125vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5rem  +  3.125vw , 6.25rem )) {
  .plan__container {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 100);
  }
}

.plan__title {
  color: #212121;
}

.plan__circle {
  background: black;
}

.plan__text {
  color: #212121;
}

.plan__grid {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

@supports ((-moz-column-gap: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem )) or (column-gap: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem ))) {
  .plan__grid {
    -webkit-column-gap: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem );
       -moz-column-gap: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem );
            column-gap: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem )) or (column-gap: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem ))) {
  .plan__grid {
    -webkit-column-gap: calc(1.375rem + 0.5 * (100vw - 20rem) / 100);
       -moz-column-gap: calc(1.375rem + 0.5 * (100vw - 20rem) / 100);
            column-gap: calc(1.375rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.autotype__item {
  -webkit-transition: outline-width 0.3s;
  -o-transition: outline-width 0.3s;
  transition: outline-width 0.3s;
  position: relative;
  outline: 2px solid transparent;
}

.autotype__item:hover {
  outline: 2px solid #EAEAEA;
  border-radius: 6px;
}

.autotype__img {
  padding-bottom: 54.9019607843%;
}

.autotype__title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  line-height: 1;
}

@supports (bottom: clamp( 0.5625rem , 0.425rem  +  0.6875vw , 1.25rem )) {
  .autotype__title {
    bottom: clamp( 0.5625rem , 0.425rem  +  0.6875vw , 1.25rem );
  }
}

@supports not (bottom: clamp( 0.5625rem , 0.425rem  +  0.6875vw , 1.25rem )) {
  .autotype__title {
    bottom: calc(0.5625rem + 0.6875 * (100vw - 20rem) / 100);
  }
}

@supports (font-size: clamp( 0.6875rem , 0.6143292683rem  +  0.3658536585vw , 0.875rem )) {
  .autotype__title {
    font-size: clamp( 0.6875rem , 0.6143292683rem  +  0.3658536585vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.6143292683rem  +  0.3658536585vw , 0.875rem )) {
  .autotype__title {
    font-size: calc(0.6875rem + 0.1875 * (100vw - 20rem) / 51.25);
  }
}

.detail__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px #EAEAEA;
          box-shadow: 0px 0px 30px #EAEAEA;
  border-radius: 10px;
  padding: 39px 43.065px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.no-webp .detail__item::before{
  background: url("../img/main/detail-bg.png") 0 0 no-repeat; }

.detail__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background-size: cover;
  z-index: -1;
  -webkit-filter: opacity(0.12);
          filter: opacity(0.12);
}

.detail__item:hover {
  background: #061321;
  opacity: 0.78;
  color: white;
}

.detail__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  color: #00A3FF;
  margin-bottom: 10px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  min-height: 35px;
  overflow: auto;
}

.detail__cost {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}

.detail__servises {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .detail__servis{
  background: url("../img/main/x.png") 1% 60% no-repeat; }

.detail__servis {
  font-size: 12px;
  padding-left: 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail__servis:not(:last-child) {
  margin-bottom: 10px;
}

.no-webp .detail__servis_check{
  background: url("../img/main/check.png") 0 50% no-repeat; }

.detail__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
}

.no-webp .detail__time::before{
  background: url("../img/main/strelki.png") 50% 50% no-repeat; }

.detail__time::before {
  content: "";
  margin-right: 6px;
  width: 12px;
  height: 12px;
  border: 1.5px solid #00A3FF;
  border-radius: 100%;
}

/*=========MINABOUT=========*/

.no-webp .page__minabout{
  background: url("../img/main/minabout-bg.png") 0 0 no-repeat; }

.page__minabout {
  background-size: cover;
}

@supports (padding-top: clamp( 2.875rem , 2.5375rem  +  1.6875vw , 4.5625rem )) {
  .minabout__container {
    padding-top: clamp( 2.875rem , 2.5375rem  +  1.6875vw , 4.5625rem );
  }
}

@supports not (padding-top: clamp( 2.875rem , 2.5375rem  +  1.6875vw , 4.5625rem )) {
  .minabout__container {
    padding-top: calc(2.875rem + 1.6875 * (100vw - 20rem) / 100);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.7rem  +  2.125vw , 5.25rem )) {
  .minabout__container {
    padding-bottom: clamp( 3.125rem , 2.7rem  +  2.125vw , 5.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.7rem  +  2.125vw , 5.25rem )) {
  .minabout__container {
    padding-bottom: calc(3.125rem + 2.125 * (100vw - 20rem) / 100);
  }
}

.minabout__subtitle {
  font-weight: 500;
  line-height: 1.5;
  color: white;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

@supports (font-size: clamp( 0.875rem , 0.8rem  +  0.375vw , 1.25rem )) {
  .minabout__subtitle {
    font-size: clamp( 0.875rem , 0.8rem  +  0.375vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8rem  +  0.375vw , 1.25rem )) {
  .minabout__subtitle {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 100);
  }
}

.minabout__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  display: block;
}

@supports (font-size: clamp( 1.75rem , 1.475rem  +  1.375vw , 3.125rem )) {
  .minabout__title {
    font-size: clamp( 1.75rem , 1.475rem  +  1.375vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.475rem  +  1.375vw , 3.125rem )) {
  .minabout__title {
    font-size: calc(1.75rem + 1.375 * (100vw - 20rem) / 100);
  }
}

.minabout__info {
  font-weight: 300;
  text-align: center;
  display: block;
  color: white;
  line-height: 1.5;
  margin-bottom: 40px;
  padding: 0px 150px;
}

@supports (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
  .minabout__info {
    font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
  .minabout__info {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 100);
  }
}

.minabout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.minabout__text {
  border-radius: 0 10px 10px 0;
}

.sld__slider {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 59.9099099099%;
          flex: 0 0 59.9099099099%;
  border-radius: 10px 0 0 10px;
}

.sld__controls {
  position: absolute;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 50px;
}

@supports (gap: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem )) {
  .sld__controls {
    gap: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.75rem  +  0.625vw , 2.5rem )) {
  .sld__controls {
    gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 100);
  }
}

.sld__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid white;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.sld__arrows:hover {
  background-color: white;
}

.sld__arrows:hover svg path {
  stroke: #061321;
}

.sld__arrows_left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sld__fraction {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  color: white;
  font-weight: 700;
}

.text-minabout {
  padding: 75.5px 65px;
  background-color: white;
}

.text-minabout ul {
  display: block;
}

.text-minabout__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  display: block;
}

@supports (margin-bottom: clamp( 0.625rem , 0.55rem  +  0.375vw , 1rem )) {
  .text-minabout__title {
    margin-bottom: clamp( 0.625rem , 0.55rem  +  0.375vw , 1rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.55rem  +  0.375vw , 1rem )) {
  .text-minabout__title {
    margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 100);
  }
}

.text-minabout__info {
  display: block;
  font-weight: 300;
  display: block;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
  .text-minabout__info {
    font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
  .text-minabout__info {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 100);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0875rem  +  0.8125vw , 2.0625rem )) {
  .text-minabout__info {
    margin-bottom: clamp( 1.25rem , 1.0875rem  +  0.8125vw , 2.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0875rem  +  0.8125vw , 2.0625rem )) {
  .text-minabout__info {
    margin-bottom: calc(1.25rem + 0.8125 * (100vw - 20rem) / 100);
  }
}

.text-minabout__list-title {
  display: block;
  font-weight: 700;
  line-height: 1;
}

@supports (margin-bottom: clamp( 0.875rem , 0.7375rem  +  0.6875vw , 1.5625rem )) {
  .text-minabout__list-title {
    margin-bottom: clamp( 0.875rem , 0.7375rem  +  0.6875vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.875rem , 0.7375rem  +  0.6875vw , 1.5625rem )) {
  .text-minabout__list-title {
    margin-bottom: calc(0.875rem + 0.6875 * (100vw - 20rem) / 100);
  }
}

@supports (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
  .text-minabout__list-title {
    font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
  .text-minabout__list-title {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 100);
  }
}

/*========MAPS=========*/

.adresss__body {
  height: 700px;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-balloon__content {
  padding-bottom: 0;
  padding-top: 0;
}

.ymaps-2-1-79-balloon__tail {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 76.25em) {
  .about__container {
    padding-top: 212px;
  }
}

@media (max-width: 76.25em) {
  .main__body-bottom {
    margin-top: -70px;
  }

  .body-bottom__cont {
    width: 100%;
    padding-left: 8px;
    padding-right: 15px;
  }

  .body-bottom__slider {
    width: 420px;
  }

  .body-bottom__slide {
    padding-bottom: 35.95%;
  }

  .body-bottom__controls {
    width: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .page__about {
    margin-top: -103px;
  }
}

@media (max-width: 61.99875em) {
  .header__adress {
    padding-left: 0;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-left: 0;
  }

  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55.259375%;
            flex: 0 0 55.259375%;
    padding-bottom: 14.065%;
    margin-left: 15px;
  }

  .header__adress {
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px;
  }

  .header__mesto {
    margin-bottom: initial;
    display: none;
  }

  .header__subtitle {
    color: #fff;
    text-align: center;
  }

  .header__subtitle_city-street {
    line-height: 1.5;
    font-weight: 700;
    display: block;
  }

@supports (font-size: clamp( 0.875rem , 0.387195122rem  +  2.4390243902vw , 2.125rem )) {
    .header__subtitle_city-street {
      font-size: clamp( 0.875rem , 0.387195122rem  +  2.4390243902vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.387195122rem  +  2.4390243902vw , 2.125rem )) {
    .header__subtitle_city-street {
      font-size: calc(0.875rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

  .header__subtitle_phone {
    line-height: 1.5;
  }

@supports (font-size: clamp( 1.125rem , 0.4908536585rem  +  3.1707317073vw , 2.75rem )) {
    .header__subtitle_phone {
      font-size: clamp( 1.125rem , 0.4908536585rem  +  3.1707317073vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.4908536585rem  +  3.1707317073vw , 2.75rem )) {
    .header__subtitle_phone {
      font-size: calc(1.125rem + 1.625 * (100vw - 20rem) / 51.25);
    }
}

  .header__phone {
    display: none;
  }

  .header__button {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
    padding: 21px 19px;
    background: #00A3FF;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background: #212121;
    padding: 6.25rem 0rem 3.125rem 0rem;
    -webkit-transition: left 0.6s ease 0s;
    -o-transition: left 0.6s ease 0s;
    transition: left 0.6s ease 0s;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0px;
    background-color: #212121;
    -webkit-transition: left 0.6s ease 0s;
    -o-transition: left 0.6s ease 0s;
    transition: left 0.6s ease 0s;
    height: 92px;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    border-right: none;
    border-bottom: 1px solid #69778A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__item:first-child {
    border-left: none;
  }

  .menu__link {
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-block;
    padding: 20px 50px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.375rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .top-footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.045045045%;
            flex: 0 0 45.045045045%;
    padding-bottom: 11.667%;
  }

  .top-footer__fb span {
    display: none;
  }

  .midle-footer__items {
    display: block;
  }

  .midle-footer__item:nth-child(2) {
    margin: 42px 0px 20px 0px;
  }

  .midle-footer__item :nth-child(2) {
    margin: 10px 0px 10px 0px;
  }

  .midle-footer__link {
    margin-top: 0;
  }

  .midle-footer__wave {
    display: none;
  }

  .bottom-footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 10px;
  }

  .bottom-footer__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-weight: 400;
    line-height: 1.5;
  }

  .bottom-footer__copright {
    font-weight: 400;
    line-height: 1.5;
  }

  .bottom-footer__ontop {
    font-weight: 400;
    line-height: 1.5;
  }

  .main__body-bottom {
    margin-top: 0;
  }

  .body-top__chord-adaptiv {
    display: block;
    position: absolute;
    z-index: 4;
    left: 23px;
  }

@supports (top: clamp( 5rem , 1.8748604848rem  +  15.6256975758vw , 9.375rem )) {
    .body-top__chord-adaptiv {
      top: clamp( 5rem , 1.8748604848rem  +  15.6256975758vw , 9.375rem );
    }
}

@supports not (top: clamp( 5rem , 1.8748604848rem  +  15.6256975758vw , 9.375rem )) {
    .body-top__chord-adaptiv {
      top: calc(5rem + 4.375 * (100vw - 20rem) / 27.99875);
    }
}

@supports (left: clamp( 1.4375rem , -3.7859474753rem  +  26.1172373767vw , 8.75rem )) {
    .body-top__chord-adaptiv {
      left: clamp( 1.4375rem , -3.7859474753rem  +  26.1172373767vw , 8.75rem );
    }
}

@supports not (left: clamp( 1.4375rem , -3.7859474753rem  +  26.1172373767vw , 8.75rem )) {
    .body-top__chord-adaptiv {
      left: calc(1.4375rem + 7.3125 * (100vw - 20rem) / 27.99875);
    }
}

  .body-top__fb {
    position: static;
  }

  .body-top__fb-wrapper::before,
  .body-top__fb-wrapper::after {
    display: none;
  }

  .body-top__dotts::before {
    top: 50%;
    width: 97px;
    height: 1px;
    left: -105px;
    right: initial;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .body-top__dotts::after {
    top: 50%;
    width: 97px;
    height: 1px;
    left: initial;
    right: -104px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .body-top__dotts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .body-top__dotts .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .body-top__dotts-line {
    top: initial;
    right: initial;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 5%;
  }

  .body-top__slide {
    padding-bottom: 177.5%;
  }

  .body-top__text {
    padding-right: 0;
  }

@supports (top: clamp( 23.75rem , -6.1620496451rem  +  149.5602482254vw , 65.625rem )) {
    .body-top__text {
      top: clamp( 23.75rem , -6.1620496451rem  +  149.5602482254vw , 65.625rem );
    }
}

@supports not (top: clamp( 23.75rem , -6.1620496451rem  +  149.5602482254vw , 65.625rem )) {
    .body-top__text {
      top: calc(23.75rem + 41.875 * (100vw - 20rem) / 27.99875);
    }
}

  .body-top__title {
    font-weight: 900;
    margin-bottom: 10px;
  }

  .body-top__title span {
    display: none;
  }

  .body-bottom__cont {
    padding-right: 0;
    margin-top: 47px;
  }

  .body-bottom__swiper {
    padding-left: 15px;
  }

  .body-bottom__slide {
    padding-bottom: 85.25%;
  }

  .body-bottom__detail span {
    line-height: 18px;
  }

  .body-bottom__controls {
    top: 110%;
    width: 18.5%;
  }

  .page__about {
    margin-top: 0;
  }

  .about__text {
    text-align: justify;
  }

  .about__subtext {
    line-height: 1.5;
  }

  .about__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .items-about__title {
    margin-bottom: 15px;
  }

  .plan__grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .detail {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0px 15px;
  }

  .minabout__subtitle {
    line-height: 21px;
  }

  .minabout__info {
    margin-bottom: 30px;
    padding: 0;
  }

  .minabout__content {
    display: block;
  }

  .minabout__text {
    border-radius: 0 0 10px 10px;
  }

  .sld__slider {
    border-radius: 10px 10px 0 0;
  }

  .sld__slide {
    padding-bottom: 63.7931034483%;
  }

  .text-minabout {
    padding: 20px 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .adresss__body {
    height: 500px;
  }
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .header__adress div {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (max-width: 75.75em) and (min-width: 47.99875em) {
  .body-bottom__detail {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

.webp .footer{ background: url("../img/footer/Rectangle 725.jpg") 0 0 no-repeat; }

.webp .page__about{ background: url(../img/main/bg-abaut.webp) 0 0 no-repeat; }

.webp .items-about__link:hover{ background: url(../img/main/bg-abitem.webp) 0 0 no-repeat; }

.webp .detail__item::before{ background: url(../img/main/detail-bg.webp) 0 0 no-repeat; }

.webp .detail__servis{ background: url(../img/main/x.webp) 1% 60% no-repeat; }

.webp .detail__servis_check{ background: url(../img/main/check.webp) 0 50% no-repeat; }

.webp .detail__time::before{ background: url(../img/main/strelki.webp) 50% 50% no-repeat; }

.webp .page__minabout{ background: url(../img/main/minabout-bg.webp) 0 0 no-repeat; }